* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 100%;
    background-color:rgba(131, 131, 131, 0.205);
    border-radius: 10px;
    height: 95%;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span {
    font-weight:900;
}
.hed {
    margin: 2rem 0 ;
    font-weight:900;
}
ul {
    max-width: 550px;
    line-height: 1.5;
    margin: 0 0 4rem 0;
}
.pr {
    max-width: 550px;
    font-style: italic;
    margin-bottom: 2rem;
}
.t {
    max-width: 550px;
    justify-items: start;
    font-style: italic;
}
.h2 {
    max-width: 95%;
    margin: 2rem 0;
}

.container1 {
    text-align: center;
  }
  
  h1 {
    font-size: 3.9rem;
  }
img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#img-div {
  background: white;
  margin: 0;
  padding: 10px;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
